*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    background-color: -webkit-linear-gradient(to left,#a0d2eb,#a28089);
    background: linear-gradient(to left,#494d5f , #a0d2eb);
    height: 100vh;
    width: 100%;;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10%;

}
header {
    background-color: -webkit-linear-gradient(to left,#a0d2eb,#a28089);
    background: linear-gradient(to left,#494d5f , #a0d2eb);
    display: flex;
    justify-content: space-evenly ;}

 .logo {
    display: flex;
    justify-content: space-around;
    width: 400px;
    mix-blend-mode:overlay;


}

 nav ul{
    display: flex;
    list-style: none;
    gap: 12px;
 }

 .nav-btn {
   
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8458b34d;
    background-blend-mode:lighten;
    color: #e5eaf5;
    padding: 10px 70px;
    border: solid 1px #8458B3;
    border-radius: 5px
 }


 .nav-btn:hover {
    background: transparent;
    border: 2px solid #e5eaf5;
    cursor: pointer;
 }


.logo {
    display: flex;
    justify-content: space-around;
    width: 400px;
    mix-blend-mode:overlay;
}

.logo {
    right: 50px;
}

.container {
    width: 100%;
    max-width: 470px;
    padding:  30px 20px;
    background-color: -webkit-linear-gradient (to left,#494d5f7a , #a28089);
    background: linear-gradient(to left,#494d5f7c,#a2808988);
    border: 2px splid #ffca41;
    border-radius: 16px;
}

.container h1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 2.5rem;
    font-weight: 600;
    padding: 0 0 8px;
}

.container form {
    padding: 0 50px;
}

form .main {
    position: relative;
    margin: 30px 0;
    border-bottom: 2px solid #ffca41;
}

.main input{
	width: 100%;
	padding: 0 5px;
	font-size: 1rem;
	height: 40px;
	border: none;
	outline: none;
}
.main label {
    top: 50%;
    left: 6px;
    color: rgb(0, 0, 0);
    transform: translateY(-50%);
    font-size:  1.1rem;
    pointer-events: none;
    transition: all .40s ease;  
}

.main span::before{
    position:absolute;
    content: '';
    left: 0;
    top: 35px;
    width: 100%;
    height: 2px;
}

.pass{
    margin: -6px 0 20px 5px;
    color: rgb(251, 0, 0);
    cursor: pointer;
}

input[type="submit"]{
    height: 45px;
    width: 100%;
    border: none;
    background: #b2405d;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 16px;
    cursor: pointer;
}