*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
header {
    background-color: -webkit-linear-gradient(to left,#a0d2eb,#a28089);
    background: linear-gradient(to left,#494d5f , #a0d2eb);
    display: flex;
    justify-content: space-evenly ;
}

body {
    background-color: -webkit-linear-gradient(to left,#a0d2eb,#a28089);
    background: linear-gradient(to left,#494d5f , #a0d2eb);
}

nav ul{
    display: flex;
    list-style: none;
    gap: 12px;
 }

.nav-btn {
   
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #8458b34d;
    background-blend-mode:lighten;
    color: #e5eaf5;
    padding: 10px 70px;
    border: solid 1px #8458B3;
    border-radius: 5px
 }


.nav-btn:hover {
    background: transparent;
    border: 2px solid #e5eaf5;
    cursor: pointer;
 }

.logo {
    display: flex;
    justify-content: space-around;
    width: 400px;
    mix-blend-mode:overlay;
}

.logo {
    right: 50px;
}

.about-somos {
    width: 100%;
    padding: 78px 0px;
}

.about-somos img {
    height: auto;
    width: 420px;
    mix-blend-mode: multiply;
}

.about-text {
    width: 550px;
}

.main-somos {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h1 {
    color: black;
    font-size: 80px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: black;
    font-size: 25px;
    text-transform: capitalize;
    margin-bottom: 25px;
    letter-spacing: 2px;
}

.about-text p {
    color: black;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background: aqua;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
}

button:hover {
    background: transparent;
    border: 2px solid aqua;
    cursor: pointer;
}